.todo{
    background-color: rgb(170, 229, 116);
    height: 100vh;
}
.box{
    width:50%;
    height: 400px;
    border-radius: 50px;
    background-color: aliceblue;
    box-shadow: 10px 10px 5px lightblue;
    overflow:scroll;
}
.inputAdd
{
    border-radius: 5px;
    background-color: rgb(170, 229, 116);
    width: 400px;
}
.inputAdd
{
    border-radius: 5px;
    background-color: rgb(187, 120, 94);
    width: 400px;
}

i,.inputAdd{
    cursor:pointer;
    color:black;
}

input[type=checkbox]:checked + p.strikethrough {
    text-decoration:line-through;
    color:red;
}